@charset "UTF-8";
.SRC-primary-text-color {
  color: #c94281 !important; }

.SRC-primary-color-hover:hover * {
  color: #c94281 !important;
  fill: #c94281 !important; }

.SRC-primary-background-color {
  background-color: #c94281; }

.SRC-primary-background-color-border-left {
  border-left-color: #c94281; }

.SRC-chart-link a:hover {
  transition: all 400ms; }

.SRC-chart-link a:hover {
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5); }

.SRC-primary-background-color-hover:hover {
  background-color: #c94281 !important;
  color: white !important; }

.SRC-primary-background-color-hover:hover * {
  background-color: #c94281 !important;
  color: white !important; }

.SRC-menu-button-base:focus {
  outline: #c94281; }

.tableDropdownSelector {
  color: #4E5491;
  font-size: 13px;
  font-weight: 600;
  border: none;
  background: white; }

.tableDropdownSelector:focus {
  outline: #c94281; }

.SRC-viewMoreButton {
  background: #DFDFDF;
  border-radius: 24px;
  width: 130px;
  height: 40px;
  margin: 21px; }

.SRC-viewMoreButton:focus {
  outline: #c94281; }

.SRC-chart-link {
  position: relative; }

.SRC-chart-link a {
  position: absolute;
  bottom: 8px;
  right: 50px;
  border-radius: 24px;
  background-color: #c94281;
  color: white !important;
  height: 44px;
  width: 257px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important; }

.SRC-basicButton {
  border: none;
  background: none;
  color: #c94281; }

.SRC-mailchimpSubscribeContainer {
  padding: 29px 30px 20px 0px;
  border-bottom: 1px solid #dddddf; }

.SRC-mailchimpSubscribeContainer input {
  width: 100%;
  max-width: 570px;
  height: 45px;
  margin-top: 10px;
  padding-left: 8px; }

.SRC-mailchimpSubscribeContainer button {
  display: block;
  margin-top: 20px;
  padding: 6px 25px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 24px;
  background-color: #c94281;
  color: white; }

:focus {
  outline-color: #c94281; }

.SRC-portalCard .SRC-cardAction button {
  background-color: #c94281; }

.SRC-portalCard a {
  color: #c94281; }

.SRC-portalCard .SRC-downloadData {
  background-color: #c94281; }

.modal-90w {
  width: 90%; }

.modal-90w .modal-header {
  border: none; }

.modal-90w .modal-header button.close {
  font-size: 25px;
  color: #c94281;
  opacity: 1; }

.checkbox, .radio {
  padding-left: 0px;
  min-width: 27px; }

input[type="checkbox"], input[type="radio"] {
  display: none; }

.checkbox > label::before, .radio::before, .radio-inline::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 1px solid #888;
  border-radius: 2px;
  background: radial-gradient(white, #eee);
  margin-right: 5px; }

.radio::before {
  border-radius: 50%; }

.indeterminate-checkbox input[type="checkbox"] + label::before, .indeterminate-checkbox input[type="checkbox"] + span::before {
  content: "–";
  color: #c94281;
  font-size: 14px;
  margin-left: -17px;
  top: 1px;
  position: relative;
  margin-right: 8px;
  font-weight: bolder; }

input[type="checkbox"]:checked + label::before, input[type="checkbox"]:checked + span::before {
  content: "✓";
  color: #c94281;
  font-size: 14px;
  margin-left: -19px;
  top: 1px;
  position: relative;
  margin-right: 8px;
  font-weight: bolder; }

.radio input[type="radio"]:checked + label::before, .radio input[type="radio"]:checked + span::before,
.radio-inline input[type="radio"]:checked + label::before, .radio-inline input[type="radio"]:checked + span::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: -18px;
  margin-right: 8px;
  background: #c94281; }

.radio input[type="radio"] + label, .radio input[type="radio"] + span,
.radio-inline input[type="radio"] + label, .radio-inline input[type="radio"] + span {
  padding-left: 23px;
  margin-left: -23px; }

.checkbox label, .radio label {
  padding-left: 0px; }
