@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
.SRC-font-size-base {
  font-size: 14px; }

.SRC-portalCard {
  display: block;
  color: #1A1C29;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 21px;
  border: 1px solid #DDDDDF;
  margin-top: 30px;
  margin-bottom: 30px; }

.SRC-portalCard .SRC-downloadData {
  background-color: #C94281;
  border-radius: 20px;
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }

.SRC-portalCard .SRC-downloadData a {
  font-size: 16px;
  padding: 5px 20px !important;
  color: white; }

.SRC-portalCard a {
  color: #C94281; }

.SRC-portalCard h3 {
  margin: 21px, 0, 10.5px, 0 !important;
  padding: 0;
  font-size: 18px !important; }

.SRC-portalCard h3 a {
  margin: 0;
  font-weight: 700; }

.SRC-portalCard .SRC-type, .SRC-portalCard .SRC-cardThumbnail {
  text-transform: uppercase;
  color: #898989; }

.SRC-portalCard .SRC-cardThumbnail {
  display: inline-block;
  width: 15%;
  vertical-align: top;
  padding-top: 21px; }

.SRC-portalCard .SRC-cardThumbnail img {
  vertical-align: top;
  width: 50%;
  margin: auto;
  display: block; }

.SRC-portalCard .SRC-cardThumbnail img.iconImg {
  max-width: 75px; }

.SRC-portalCard .SRC-cardThumbnail > div {
  margin-top: 10.5px;
  text-align: center; }

.SRC-portalCard .SRC-cardContent {
  padding-left: 0px;
  max-width: 80%;
  display: inline-block;
  padding-top: 21px; }

.SRC-portalCard .SRC-cardContent.SRC-dataset {
  width: 80%; }

.SRC-portalCard .SRC-cardContent .SRC-author {
  font-style: italic;
  padding-bottom: 10.5px; }

.SRC-portalCard .SRC-cardContent .SRC-cardAnnotations {
  margin: 10.5px 0; }

.SRC-portalCard .SRC-cardContent .SRC-cardAnnotations span {
  background: #3C4A63;
  color: white;
  display: inline-block;
  padding: 2px 15px 4px 15px;
  margin: 0 10px 5px 0;
  border-radius: 15px; }

.SRC-portalCard .SRC-cardAction {
  display: inline-block; }

.SRC-portalCard .SRC-cardAction button {
  background-color: #C94281;
  font-size: 16px;
  color: white;
  display: inline-block;
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
  padding: 5px 20px !important; }

.SRC-portalCard .SRC-cardMetadata {
  display: block;
  background-color: #F9F9F9;
  margin-top: 21px;
  padding: 21px 21px 21px 15%; }

.SRC-portalCard .SRC-cardMetadata .row {
  margin: 5px !important; }

.SRC-portalCard .SRC-cardMetadata .row > * {
  min-width: 100px; }

.SRC-portalCard .SRC-cardMetadata .row .extraWide {
  min-width: 150px; }

.SRC-portalCard .SRC-cardMetadata .SRC-row-label {
  white-space: nowrap;
  color: #898989;
  text-transform: uppercase;
  margin-right: 40px; }

.SRC-portalCard .SRC-cardMetadata .SRC-row-data {
  font-weight: 400; }

.SRC-portalCard .SRC-cardMetadata .SRC-row-data a {
  font-size: 14px !important; }

.SRC-portalCard .SRC-cardMetadataColumn {
  display: flex;
  background-color: #F9F9F9;
  margin-top: 21px;
  padding: 20px 20px; }

@media (max-width: 568px) {
  .SRC-portalCard .SRC-cardMetadataColumn {
    flex-direction: column !important; } }

.SRC-portalCard .SRC-cardMetadataColumn .SRC-halfWidth {
  flex-grow: 1; }

.SRC-portalCard .SRC-cardMetadataColumn .row {
  margin: 5px !important; }

.SRC-portalCard .SRC-cardMetadataColumn .row > * {
  min-width: 200px; }

.SRC-portalCard .SRC-cardMetadataColumn .row.extraWide > * {
  min-width: 150px; }

.SRC-portalCard .SRC-cardMetadataColumn .SRC-row-label {
  white-space: nowrap;
  color: #898989;
  text-transform: uppercase; }

.SRC-portalCard .SRC-cardMetadataColumn .SRC-row-data {
  font-weight: 400;
  display: inline-block; }

.SRC-portalCard .SRC-cardMetadataColumn .SRC-row-data a {
  font-size: 14px !important; }

.SRC-portalCard.SRC-typeDataset .row {
  display: inline-block; }

.SRC-portalCard.SRC-typeDataset .row > * {
  min-width: 0; }

.SRC-portalCard.SRC-typeDataset .SRC-row-data {
  padding-right: 42px; }

.SRC-portalCard.SRC-typeFunder .SRC-cardThumbnail {
  display: inline;
  float: right; }

.SRC-portalCard.SRC-typeFunder .SRC-cardThumbnail img {
  width: 65%; }

.SRC-portalCard.SRC-typeFunder .SRC-cardContent {
  max-width: 100%;
  width: 90% !important;
  margin-left: 42px; }

.SRC-portalCard.SRC-typeFunder .SRC-cardContent .SRC-website a {
  display: inline-block;
  font-size: 14px;
  padding-bottom: 10.5px; }

.SRC-portalCard.SRC-typeFunder .SRC-cardAction {
  margin: 21px 0 21px 42px; }

.SRC-portalCard.SRC-typeTool .SRC-cardAction {
  margin: 21px 0 21px 15%; }

img.iconImg.SRC-datasetIcon {
  max-width: 60px !important; }

.SRC-cardRowDesktop > td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 20px; }

.SRC-cardRowMobile:nth-child(even) > td {
  padding-bottom: 10px; }

.SRC-description-dataset {
  display: flex;
  flex-wrap: wrap; }

.SRC-description-dataset p.SRC-description-text {
  flex-basis: 65%;
  display: inline-block;
  padding-right: 15px; }

.SRC-description-dataset div button {
  white-space: nowrap; }

.SRC-portalCardHeader {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 21px;
  border: 1px solid #DDDDDF;
  padding-bottom: 30px;
  padding-top: 25px; }

.SRC-portalCardHeader h3 {
  margin: 21px, 0, 10.5px, 0 !important;
  color: white;
  padding: 0;
  font-size: 18px !important; }

.SRC-portalCardHeader h3 a {
  margin: 0;
  font-weight: 700; }

.SRC-portalCardHeader .SRC-type, .SRC-portalCardHeader .SRC-cardThumbnail {
  text-transform: uppercase; }

@media (min-width: 992px) {
  .SRC-portalCardHeader .iconContainer {
    text-align: center; } }

.SRC-portalCardHeader .iconContainer img.iconImg {
  padding-top: 21px; }

.SRC-portalCardHeader .SRC-cardContent {
  padding-top: 21px; }

.SRC-portalCardHeader .SRC-cardContent .SRC-author {
  font-style: italic;
  padding-bottom: 10.5px; }

.markdowntable {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
  margin: 10px 0 10px 0; }

.markdowntable td {
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  padding: 2px 4px; }

.markdowntable th {
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  padding: 2px 4px;
  font-weight: 500;
  font-size: 1.1em; }

.markdowntable .userBadgeTable {
  top: 0px; }

.markdowntable caption + thead tr:first-child th,
.markdowntable caption + tbody tr:first-child th,
.markdowntable caption + tbody tr:first-child td,
.markdowntable colgroup + thead tr:first-child th,
.markdowntable colgroup + tbody tr:first-child th,
.markdowntable colgroup + tbody tr:first-child td,
.markdowntable thead:first-child tr:first-child th,
.markdowntable tbody:first-child tr:first-child th,
.markdowntable tbody:first-child tr:first-child td {
  border-top: 0; }

.markdowntable thead:first-child tr:first-child th:first-child,
.markdowntable tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px; }

.markdowntable thead:first-child tr:first-child th:last-child,
.markdowntable tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px; }

.markdowntable thead:last-child tr:last-child th:first-child,
.markdowntable tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px; }

.markdowntable thead:last-child tr:last-child th:last-child,
.markdowntable tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px; }

.markdown {
  word-wrap: break-word;
  overflow-x: auto;
  overflow-y: hidden;
  line-height: 1.8em;
  color: #000000; }

.markdown ol {
  list-style-type: decimal;
  padding-left: 15px; }

.markdown ol li {
  padding-top: 5px; }

.markdown ul {
  list-style-type: square;
  padding-left: 17px; }

.markdown ul li {
  padding-top: 5px; }

.markdown strong {
  font-weight: bold; }

.markdown del {
  text-decoration: line-through; }

.markdown em {
  font-style: italic; }

.markdown blockquote {
  margin: 1em 3em;
  padding: 0.5em 1em;
  background-color: #fcf8f2;
  border-left: 3px solid #f0ad4e;
  font-size: 13px; }

.markdown blockquote h4, .markdown blockquote h3, .markdown blockquote h2, .markdown blockquote h1 {
  color: #f0ad4e; }

.markdown code {
  font-family: 'Courier New', Courier, monospace !important;
  background-clip: padding-box;
  border-radius: 3px 3px 3px 3px;
  padding: 0 5px 2px;
  overflow: auto;
  white-space: pre;
  word-wrap: normal; }

.markdown img {
  max-width: 100%; }

.markdown p {
  margin: 0px;
  padding-bottom: 12px; }

.markdown h1 {
  padding: 35px 0 12px 0; }

.markdown h2 {
  padding: 29px 0 10px 0; }

.markdown h3 {
  padding: 23px 0 8px 0; }

.markdown h4 {
  padding: 17px 0 6px 0; }

.markdown h5 {
  padding: 11px 0 4px 0; }

.markdown h6 {
  padding: 5px 0 2px 0; }

.inlineWidgetContainer {
  display: inline-block; }

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

.link {
  color: #2B688F; }

.markdown {
  line-height: 1.85em;
  word-wrap: break-word;
  overflow-x: auto;
  overflow-y: hidden;
  line-height: 1.8em;
  color: #000000; }

.toc-indent1 {
  margin-left: 35px; }

.toc-indent2 {
  margin-left: 65px; }

.toc-indent3 {
  margin-left: 95px; }

.toc-indent4 {
  margin-left: 125px; }

.toc-indent5 {
  margin-left: 155px; }

.toc-indent6 {
  margin-left: 185px; }

.userProfileImage {
  border-radius: 50%;
  height: 23px;
  width: 23px;
  min-width: 23px; }

/*-------------------------------------------------------*/
/* ### Loading spinner ### */
/*-------------------------------------------------------*/
@keyframes spinner {
  to {
    transform: rotate(360deg); } }

.spinner {
  box-sizing: border-box;
  display: inline-block;
  margin: auto;
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url("../assets/logos/logo.svg");
  animation: spinner 1s linear infinite;
  background-size: 20px 20px;
  background-repeat: no-repeat; }

/* End loading spinner */
